<div class="center">
	<h1>Edit this deck</h1>
</div>
<form action="/decks/<%= @deck.id %>/edit" method="POST" autocomplete="off">
	<div class="center">
		
	<input type="hidden" name="_method" value="PUT">
	<label for="deck_name" class="accessible-hidden">What is this deck's name?</label>
	<input type="text" name="deck_name" id="deck_name" value="<%= @deck.deck_name %>" placeholder="What is this deck's name?">
	<label for="keywords" class="accessible-hidden">Keywords</label>
	<input type="text" name="keywords" id="keywords" value="<%= @deck.keywords %>" placeholder="Keywords">
	<label class="switch">
		<input type="checkbox" name="shareable" <%= @shareable %>>
		<span class="slider"></span>
	</label>
	</div>
	<div class="center">
	<input type="submit" value="EDIT IT">
	</div>
</form>
<div class="center">
	<button onclick='window.location="/decks/<%= @deck.id %>/edit";' class="button-small">
		Reset
	</button>
	<button onclick='window.location="/decks/<%= @deck.id %>";' class="button-small">
		Cancel
	</button>
</div>