<h1>Hello, <%= @user.username %></h1>
<% if !@cards.empty? %>
<h2>Current Cards</h2>
<% binding.pry %>
<% @cards.each do |card| %>
<p><a href="/cards/<%= card.id %>"><%= card.card_name %></a>
	<span>
		<form action="/cards/<%= card.id %>/edit" method="GET">
			<input type="submit" value="EDIT">
		</form>
	</span>
	<span>
		<form action="/cards/<%= card.id %>/delete" method=POST>
			<input type="hidden" name="_method" value="DELETE">
			<input type="submit" value="DELETE"> <!-- maybe put in a delete get route with an "are you sure" -->
		</form>
	</span>
</p>
<% end %>
<% else %>
<p>You do not yet have any cards.  Would you like to create one?</p>
<% end %>
<a href="/cards/new"><h2>Create a new card</h2></a>