<div class="center">
	<h1>Hello, <%= @user.username %></h1>	
</div>

<% if !@cards.empty? %>
	<div class="center">
		<h2>Current Cards</h2>	
	</div>
	<div class="center-column">
		<% @cards.each do |card| %>
		<div class="card-list">
			<div class="container-left">
				<h3><%= card.front %></h3>	
			</div>
			<div class="container-right">
				<button onclick='window.location="/cards/<%= card.id %>";' class="button-small">
					View
				</button>
				<form action="/cards/<%= card.id %>/edit" method="GET">
					<input type="submit" value="Edit">
				</form>
				<form action="/cards/<%= card.id %>/delete" method=POST>
					<input type="hidden" name="_method" value="DELETE">
					<input type="submit" value="Delete"> 
				</form>
			</div>
		</div>
		<% end %>
	</div>
	<% else %>
		<div class="center-column">
			<p>You do not yet have any cards.  Would you like to create one?</p>	
		</div>
	<% end %>
<div class="center">
	<button onclick="window.location='/cards/new';" class="button-large">
		Create a new card
	</button>
	<button onclick="window.location='/users/<%= @user.id %>';" class="button-large">
		Back to decks list
	</button>
</div>