<h1>Hello, <%= @user.username %></h1>
<% if @decks %>
<h2>Current Decks</h2>
<% @decks.each do |deck| %>
<p><a href="/decks/<%= deck.id %>"><%= deck.deck_name %></a>
	<span>
		<form action="/decks/<%= deck.id %>/edit" method="GET">
			<input type="submit" value="EDIT">
		</form>
	</span>
	<span>
		<form action="/decks/<%= deck.id %>/delete" method=POST>
			<input type="hidden" name="_method" value="DELETE">
			<input type="submit" value="DELETE"> <!-- maybe put in a delete get route with an "are you sure" -->
		</form>
	</span>
</p>
<% end %>
<% else %>
<p>You do not yet have any decks.  Would you like to create one?</p>
<% end %>
<a href="/users/<%= @user.id %>/decks/new"><h2>Create a new deck</h2></a>