<h1>Hello, <%= @user.username %></h1>
<h2>Front of card: </h2>
<p><%= @card.front %></p>
<h2>Back of card:</h2>
<p><%= @card.back %></p>
<% binding.pry %>
<h2>This card is <%= @card.multiple_choice_or_input %></h2>
<a href="/cards/<%= @card.id %>/edit">Edit this card</a>
<a href="/decks/<%= @card.deck_id %>">Back to deck</a>