<div class="center">
	<h1>Hello, <%= @user.username %></h1>
</div>
<div class="center">
	
<div class="card-info">
<h2>Front of card: </h2>
<p><%= @card.front %></p>
</div>
<div class="card-info">
	
<h2>Back of card:</h2>
<p><%= @card.back %></p>
</div>
</div>
<div class="center">
	
<button onclick='window.location="/cards/<%= @card.id %>/edit";' class="button-large">
	Edit
</button>
<button onclick='window.location="/decks/<%= @card.deck_id %>";' class="button-large">
	Back to Deck
</button>
</div>